<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
  <%- include("../partials/header") %>
  <main class="productList-main">
 
      <div class="filters"> <section>
        <div class="grid-area-aggregations">
            <h2 class="title">Filtrar por</h2>
            <ul class="filter-list">
              <a href="#" class="filter-link"><h3>Categoria</h3></a>
                <% for(i=0; i<categories.length; i++) { %>
                  <li class="filter-item">
                     <ul class="sub-filter-list">
                          <li class="sub-filter-item"><a href="#"><%= categories[i].name %></a></li>
                     </ul>
                  </li>
                <% } %>   
              <a href="#" class="filter-link"><h3>Marca</h3></a>
              <% for(i=0; i<products.length; i++) { %>
                <li class="filter-item">
                   <ul class="sub-filter-list">
                        <li class="sub-filter-item"><a href="#"><%= products[i].brand %></a></li>
                   </ul>
                </li>
              <% } %> 
              
                <a href="#" class="filter-link"><h3>Ofertas</h3></a>
                <% for(i=0; i<products.length; i++) { %>
                  <li class="filter-item">
                     <ul class="sub-filter-list">
                          <li class="sub-filter-item"><a href="#"><%= products[i].productsOnSale %></a></li>
                     </ul>
                  </li>
                <% } %> 
            </ul>
        </div>
      </div>
    <div class ="products-box">
        <div class="">
        <h2 class="products-title">Todos los productos:</h2>
        </div>
        <div class="container-products">
        <div class="products">
                
                <% for(i=0; i<products.length; i++) { %>
                    <div class="cont-product">
                        <section class="product-box">
                            <a href="/products/productDetail/<%= products[i].id %>">
                                <div class="home-image">
                                    <img src="/images/products/<%= products[i].productImages[0]?.fileName ?? 'defaultProduct.png' %>" alt="imagen de producto" class="product_img">
                                  </div>
                                  <div class="main-article">
                                    <p class="price">$<%= products[i].price %></p>
                                    <p class="price-discount">$<%= products[i].price - (products[i].price * (products[i].discountPorc/100)) %></p>
                                    <p class="discount"><%= products[i].discountPorc %>% OFF</p>
                                    <h4 class="description"><%= products[i].category %> <%= products[i].brand %> <%= products[i].model %></p>
                            </a>
                        </section>
                    </div>
                <% } %>           
        </div>
    </div>
  </main>

  <%- include("../partials/footer") %>
</body>
</html> 