<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>

    <main class="main-productDetail">
        <% if(product) { %>
        <section class="nav-bar">
            <nav>
                <ul>
                    <li class="nav-bar-item">Todo Tecno</li>
                    <li class="nav-bar-separator">></li>
                    <li class="nav-bar-item">Tv y Video</li>
                    <li class="nav-bar-separator">></li>
                    <li class="nav-bar-item">TV</li>
                </ul>
            </nav>
        </section>
        <section class="picture">
            <img src="/images/products/<%= product.productImages[0]?.fileName ?? 'defaultProduct.png' %>" alt="" class="product-picture">
            <div class="images-products">
            <img src="/images/products/<%= product.productImages[1]?.fileName ?? 'defaultProduct.png' %>" alt="" class="product-picture">
            <img src="/images/products/<%= product.productImages[2]?.fileName ?? 'defaultProduct.png' %>" alt="" class="product-picture">
            <img src="/images/products/<%= product.productImages[3]?.fileName ?? 'defaultProduct.png' %>" alt="" class="product-picture">
        </div>
        </section>
        <section class="prod-main-info">
            <h3><%= product.category %> <%= product.brand.name %> <%= product.model %></h3>
            <label class="price"><h2>$ <%= Intl.NumberFormat('de-DE').format(product.price) %></h2></label>
            <label><a href="">Ver todos los medios de pago</a></label>
        </section>
        <section class="send-info">
            <label for="" class="send-price">Envío gratis en Amba</label>
            <label for="" class="pickup">Retiro gratis en sucursal</label>
            <label for="">
                <a href="#">Ver Sucursales</a>
            </label>
        </section>
        <section class="buttons-section">
            <a href="#" class="buy-now-button">COMPRAR AHORA</a>
			
            <% if(locals.isAdmin&&isAdmin){ %>
			<a href="/admin/productEdit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
            <% } %>
        </section>
        <% if(recommendations[0]) { %>
        <section class="recomendations">
            <h3 class="recommend-title">Personas Interesadas en el producto también compraron</h3>

            <% for(i=0;i<recommendations.length;i++) { %>
                <article class="recommendation-item">
                    <img src="/images/products/<%= recommendations[i].productB.productImages[0]?.fileName ?? 'defaultProduct.png' %>" alt="" class="recomendation-pic">
                    <h5><%= recommendations[i].category %> <%= recommendations[i].productB.brand %> <%= recommendations[i].productB.model %></h5>
                    <label for="" class="recomend-price">$ <%= Intl.NumberFormat('de-DE').format(recommendations[i].productB.price) %></label>
                </article>
            <% } %> 
                     
        </section>
        <% } %>
        <% if(product.characteristics) { %>
        <section class="characteristics">
            <h3 class="characteristics-title">Características Técnicas</h3>
            
            <% for (const {name, subCharacteristics} of product.characteristics) { %>
                <article tabindex="0">
                    <h4><%= name %></h4><div class="drop-button"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-up"></i></div>
                    <div class="info">
                    <% for (const {name, value} of subCharacteristics) { %>
                        <%= name %>: <%= value %>
                        <br>

                    <% } %>
                </div>
                </article>

            <%  } %>
            <h3 class="description-title">Descripcion</h3>
            <p class="description"><%= product.description %></p>

        </section>
        <% } %>
        <% }else { %>
            <h2>No existe el producto</h2>
        <% } %>
    </main>

    <%- include("../partials/footer") %>
</body>
    <script src="/js/productDetailMenu.js"></script>
</html>