<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: title, stylesheet: stylesheet}) %>

<body>
    <%- include("../partials/header") %>

    <main class="main-productDetail">
        <section class="nav-bar">
            <nav>
                <ul>
                    <li class="nav-bar-item">Todo Tecno</li>
                    <li class="nav-bar-separator">></li>
                    <li class="nav-bar-item">Tv y Video</li>
                    <li class="nav-bar-separator">></li>
                    <li class="nav-bar-item">TV</li>
                </ul>
            </nav>
        </section>
        <section class="picture">
            <img src="" alt="" class="product-picture">
        </section>
        <section class="prod-main-info">
            <h3><%= type %> <%= brand %> <%= model %></h3>
            <label class="price"><h2>$ <%= Intl.NumberFormat('de-DE').format(price) %></h2></label>
            <label><a href="">Ver todos los medios de pago</a></label>
        </section>
        <section class="send-info">
            <label for="" class="send-price">Envío gratis en Amba</label>
            <label for="" class="pickup">Retiro gratis en sucursal</label>
            <label for="">
                <a href="#">Ver Sucursales</a>
            </label>
        </section>
        <section class="recomendations">
            <h3 class="recomend-title">Personas Interesadas en el producto también compraron</h3>
            <article class="recomendation-1">
                <img src="" alt="" class="recomendation-1-pic">
                <h5>Barra de Sonido 9.2 Wireless Nakamichi Shockwafe Ultra 9.2 Dolby Atmos 1000w</h5>
                <label for="" class="recomend-price">$961.949</label>
            </article>
            <article class="recomendation-2">
                <img src="" alt="" class="recomendation-2-pic">
                <h5>Soporte Para Tv Iofi Led Móvil Hasta 90 85 80 75 70 65 60 55 50</h5>
                <label for="" class="recomend-price">$54.999</label>
            </article>            
        </section>
        <section class="characteristics">
            <h3 class="characteristics-title">Características Técnicas</h3>
            <article tabindex="0">
                <h4>Sonido</h4><div class="drop-button"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-up"></i></div>
                <div class="info">Cantidad de Parlantes: 8</div>
            </article>
            <article tabindex="0">
                <h4>Dimensiones</h4><div class="drop-button"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-up"></i></div>
                <div class="info"><p>TBA</p><p>TBA</p><p>TBA</p><p>TBA</p><p>TBA</p></div>
            </article>
            <article tabindex="0">
                <h4>Modelo y Origen</h4><div class="drop-button"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-up"></i></div>
                <div class="info">Modelo: QN75QN800A</div>
            </article>                     
        </section>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>