<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("./partials/header") %> 

    <main>
        
        <div class="container products-wrapper">
            <% if(products&&products[0]) { %>
                <div class="col-12-products-title-container">
                    <h2 class="products-title">Resultados de la búsqueda:</h2>
                </div>
                <div class="row">    
                <% for(i=0; i<products.length; i++) { %>
    
                    <div class="product-container_search">
                                                   
                                <img src="/images/products/<%= products[i].images[0] %>" alt="imagen de producto" class="product-search_img">
                                <article class="product-search_data">
                                    <p class="price">$<%= products[i].price %></p>
                                    <p class="discount"><%= products[i].discount %>% OFF</p>
                                    <h4 class="description"><%= products[i].category %> <%= products[i].brand %> <%= products[i].model %></h4>
                                </article>
                           
                    </div>
    
                <% } %>

			<% } else { %>
                <div class="col-12">
                    <h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
                </div>
            <% } %>         
                
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>
</body>
</html> 