<label for="nombre">Nombre:</label>
<input type="text" id="nombre" name="firstName" value= "<%= locals.user && user.firstName %>" required>

<label for="apellido">Apellido:</label>
<input type="text" id="apellido" name="lastName" value= "<%= locals.user && user.lastName %>" required>

<label for="correo">Correo electr칩nico:</label>
<input type="text" id="correo" name="email" value="" value= "<%= locals.user && user.email %>" required>

<label for="password">Contrase침a:</label>
<input type="password" id="password" name="password" value="" required>

<label for="birthday">Fecha de Nacimiento:</label>
<input type="date" id="birthday" name="birthday" value= "<%= locals.user && user.birthday?.slice(10,2) %>">

<label for="address">Direcci칩n:</label>
<input type="text" id="address" name="address" value= "<%= locals.user && user.address %>">

<label for="zipCode">C칩digo Postal:</label>
<input type="text" id="zipCode" name="zipCode" value= "<%= locals.user && user.zipCode %>">

<label for="location">Localidad:</label>
<input type="text" id="location" name="location" value= "<%= locals.user && user.location %>">

<label for="province">Provincia:</label>
<input type="text" id="province" name="province" value= "<%= locals.user && user.province %>">

<label for="roleId">Rol:</label>
<select id="roleId" name="roleId" required>
    <option value="" disabled <%= !locals.user?"selected":""%>>Seleccione un Rol</option>
    <option value="1" <%= 1 == (locals.user?.roleId)?"selected":""%>>Admin</option>
    <option value="2" <%= 2 == (locals.user?.roleId)?"selected":""%>>User</option>
</select>