<label for="nombre">Nombre:</label>
<input type="text" id="nombre" name="firstName" value= "<%= locals.user && user.firstName %>">
<span class="errors" name="firstName"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></span>

<label for="apellido">Apellido:</label>
<input type="text" id="apellido" name="lastName" value= "<%= locals.user && user.lastName %>">
<span class="errors" name="lastName"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></span>

<label for="correo">Correo electrónico:</label>
<input type="text" id="correo" name="email" value= "<%= locals.user && user.email %>">
<span class="errors" name="email"><%= locals.errors && errors.email ? errors.email.msg : null %></span>

<label for="password">Contraseña:</label>
<input type="password" id="password" name="password" value="">
<span class="errors" name="password"><%= locals.errors && errors.password ? errors.password.msg : null %></span>

<label for="birthday">Fecha de Nacimiento:</label>
<input type="date" id="birthday" name="birthday" value= "<%= locals.user && user.birthday %>">
<span class="errors" name="birthday"><%= locals.errors && errors.birthday ? errors.birthday.msg : null %></span>

<label for="address">Dirección:</label>
<input type="text" id="address" name="address" value= "<%= locals.user && user.address %>">
<span class="errors" name="address"><%= locals.errors && errors.address ? errors.address.msg : null %></span>

<label for="zipCode">Código Postal:</label>
<input type="text" id="zipCode" name="zipCode" value= "<%= locals.user && user.zipCode %>">
<span class="errors" name="zipCode"><%= locals.errors && errors.zipCode ? errors.zipCode.msg : null %></span>

<label for="location">Localidad:</label>
<input type="text" id="location" name="location" value= "<%= locals.user && user.location %>">
<span class="errors" name="location"><%= locals.errors && errors.location ? errors.location.msg : null %></span>

<label for="province">Provincia:</label>
<input type="text" id="province" name="province" value= "<%= locals.user && user.province %>">
<span class="errors" name="province"><%= locals.errors && errors.province ? errors.province.msg : null %></span>

<label for="province">Teléfono:</label>
<input type="text" id="phone" name="phone" value= "<%= locals.user && user.phone %>">
<span class="errors" name="phone"><%= locals.errors && errors.phone ? errors.phone.msg : null %></span>

