    <div class="input-section"><h5>Categoría del producto</h5>
        <select class="input" name="category" required>
            <option value="" class= "choose-option" disabled <%= !locals.subcategory?"selected":""%>>Selecciona una Categoría</option>
            <% locals.categories.forEach(category => { %>
                <option value="<%= category.id %>" <%= category.id == (locals.subcategory?.category.id)?"selected":""%>><%= category.name %></option>
            <% }) %>
        </select>
    </div>
    <div class="input-section"><h5>SubCategoría del producto</h5>
        <select class="input" name="subCategory" required>
            <option value="" class= "choose-option" disabled <%= !locals.subcategory?"selected":""%>>Selecciona una SubCategoría</option>            
        </select>
    </div>    
    <div class="input-section"><h5>Marca</h5>
        <select class="input" name="brand" required>
            <option value="" disabled <%= !locals.product?"selected":""%>>Selecciona una marca</option>
            <% locals.brands.forEach(brand => { %>
                <option value="<%= brand.id %>" <%= brand.id == (locals.product?.brand.id)?"selected":""%>><%= brand.name %></option>
            <% }) %>
        </select>
    </div>   
    <div class="input-section"><h5>Modelo</h5>
        <input class="input" type="text" name="model" placeholder="" required value="<%= locals.product && product.model %>">
    </div>
    <div class="input-section"><h5>Numero de articulo</h5>
       <input class="input" type="number" name="artNumber" placeholder="" required value="<%= locals.product && product.artNumber %>">
    </div>
    <div class="input-section"><h5>Precio</h5>
        <input class="input" type="number" name="price" placeholder="" required value="<%= locals.product && product.price %>">
    </div>    
    <div class="input-section"><h5>Cantidad Disponible</h5>
        <input class="input" type="number" name="availability" placeholder="" required value="<%= locals.product && product.availability %>">
    </div>    
    <div class="input-section"><h5>Descuento [%]</h5>
        <input class="input" type="number" name="discount" placeholder="" required value="<%= locals.product && product.discountPorc %>">
    </div>
        <br>
        <h5>Descuento habilitado: <input  type="checkbox" name="isOnSale" 
            <% if(locals.product && product.isOnSale){ %>
                checked
            <% } %>
        </h5>        
        <br>
        <h5>Es nueva adquisición: <input type="checkbox" name="isNew"
            <% if(locals.product && product.isNew){ %>
                checked
            <% } %>
        </h5>
        <br>      
    <div class="input-section"><h5>Descripción</h5>
        <textarea class="input" name="description">
            <%= locals.product?.description %>
        </textarea>
    </div>
        <% if (!locals.product) { %>
        
            <label for="images" class="form-label">Imágenes:</label>
        <div class="create-edite-img">
			<input class="input"type="file" id="image" name="images" required multiple>
        </div>
        <% } %>        
        
        <div class="product-create-btn product-edit-btn">
             <button class="btn-reset" type="reset">Reiniciar Campos</button>
             <br>
             <button class="btn-submit" type="submit"><% if(!locals.product){%>
                Crear Producto
            <%}else{%>
                Guardar Cambios
            <%}%></button>
            <br>            
        </div>