<section class="profile-avatar-container">
    <img src="/images/users/<%= userInfo.image?userInfo.image:"defaultUser.png" %>" alt="" class="profile-avatar-img">
</section>
<section class="personal-infomation">
    <p>Nombre: <%= userInfo.firstName %></p>
    <p>Apellido: <%= userInfo.lastName %></p>
    <p>Email: <%= userInfo.email %></p>
    <p>Cumpleaños: <%= userInfo.birthday?userInfo.birthday:"Sin especificar" %></p>
    <p>Dirección: <%= userInfo.userContactInformation?userInfo.userContactInformation.address:"Sin especificar" %></p>
    <p>Código Postal: <%= userInfo.userContactInformation?userInfo.userContactInformation.postalCode:"Sin especificar" %></p>
    <p>Localidad: <%= userInfo.userContactInformation?userInfo.userContactInformation.location:"Sin especificar" %></p>
    <p>Provincia: <%= userInfo.userContactInformation?userInfo.userContactInformation.province:"Sin especificar" %></p>
    <p>Teléfono: <%= userInfo.userContactInformation?userInfo.userContactInformation.phone:"Sin especificar" %></p>
</section>