<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class=" main-create">
<% if(product) { %>
    <div class="product-edit">

<form class= "product" action="/admin/productEdit/<%= product.id %>?_method=PUT" method="POST">
    


        <h1>Modificar producto</h1>

        <%- include("../partials/create-edit-product-inputs", {product}) %>        

</form>
<form class="form-delete" action="/admin/productDelete/<%= product.id %>?_method=DELETE" method="POST">
    <div class="btn-dlt">
    <button class="btn-delete" type="submit">Eliminar Producto</button>
    </div>
 </form>
 <% }else { %>
    <h2>No existe el producto</h2>
<% } %>
</div>

</main>


    <%- include("../partials/footer") %>
    <%- include("../partials/formatValidationScripts", {form_name: locals.form_name, view_name: locals.view_name}) %>
    <script src="/js/productCreateEdit.js"></script>
</body>
</html>