<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class="main-product-create"><form class="product" action="/admin/productCreate" method="POST" enctype="multipart/form-data">
    
    <div class="product-create">
        <h1>Crear nuevo producto</h1>

        <%- include("../partials/create-edit-product-inputs") %>        
    </div>

</form>
</main>


    <%- include("../partials/footer") %>
    <%- include("../partials/formatValidationScripts", {form_name: locals.form_name, view_name: locals.view_name}) %>
    <script src="/js/productCreateEdit.js"></script>
    
</body>
</html>