<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main><form action="/admin/productEdit/<%= product.id %>?_method=PUT" method="POST">
    
<h1>Modificar producto</h1>

    <div class="product-create">
        <h5>Categoría del producto</h5>
        <input  type="text" name="category" placeholder="ej: Smart TV" required value="<%= product.category %>">
        <h5>Marca</h5>
        <input  type="text" name="brand" placeholder="" required value="<%= product.brand %>">
        <h5>Modelo</h5>
        <input  type="text" name="model" placeholder="" required value="<%= product.model %>">
        <h5>Numero de articulo</h5>
        <input  type="number" name="artNumber" placeholder="" required value="<%= product.artNumber %>">
        <h5>Precio</h5>
        <input  type="number" name="price" placeholder="" required value="<%= product.price %>">
        <h5>Cantidad Disponible</h5>
        <input  type="number" name="availability" placeholder="" required value="<%= product.availability %>">
        <h5>Descuento [%]</h5>
        <input  type="number" name="discount" placeholder="" required value="<%= product.discount %>">
        <ul><h5>Caracteristicas</h5>
            <li><input  type="text" name="" placeholder="Sonido" required ></li>
            <li><input  type="text" name="" placeholder="Dimensiones" required ></li>
            <li><input  type="text" name="" placeholder="Modelo y Origen" required ></li>
            <li><input  type="text" name="" placeholder="Color" required ></li>
            <li><input  type="text" name="" placeholder="Resolucion" required ></li>
            <li><input  type="text" name="" placeholder="Incluye" required ></li>
        </ul>
       
        <h5>Imagenes</h5>
        <input  type="file" name="" placeholder="ingresa hasta 10 imagenes" required>           
        <div>
             <button class="reset" type="reset">Reiniciar Campos</button>
             <button class="submit" type="submit">Guardar Cambios</button>
             
             


            
        </div>
    </div>

</form>
<form action="/admin/productDelete/<%= product.id %>?_method=DELETE" method="POST">
    <button class="submit" type="submit">Eliminar Producto</button>
 </form>
</main>


    <%- include("../partials/footer") %>
</body>
</html>