<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class=" main-create">
<% if(product) { %>
<form class= "product" action="/admin/productEdit/<%= product.id %>?_method=PUT" method="POST">
    
<h1>Modificar producto</h1>

    <div class="product-create">
        <%- include("../partials/create-edit-product-inputs", {product}) %>        
    </div>

</form>
<form class="form-delete" action="/admin/productDelete/<%= product.id %>?_method=DELETE" method="POST">
    <button class="btn-delete" type="submit">Eliminar Producto</button>
 </form>
 <% }else { %>
    <h2>No existe el producto</h2>
<% } %>
</main>


    <%- include("../partials/footer") %>
    <script src="/js/productCreateEdit.js"></script>
</body>
</html>