<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class="main-user-create">
    <div>
        <form class="form-container" action="/admin/users/create" method="POST" enctype="multipart/form-data">
    
        <h1>Crear nuevo usuario</h1>

        <%- include("../partials/create-edit-user-inputs") %>  
        <%- include("../partials/roleId-selector") %>

        <%- include("../partials/input-avatar") %>

        <button type="submit">Crear</button>


        </form>
    </div>
</main>


    <%- include("../partials/footer") %>
</body>
</html>