<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main>
<h1>Base de Datos</h1>
<table>
  <thead>
    <tr>
      
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user=>{ %>
      <tr>
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name %></td>
        <td class="actions">
          
          <a href="/admin/users/edit/<%= users[i].id %>"><button class="edit" > <i class="fa-solid fa-pen-to-square"></i></button></a>
          <button class="delete"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    <% }) %>    
  </tbody>
</table>
<div class="actions">
  <button class="create"> <a href="/admin/users/add">  Crear Usuario</a> <i class="fa-solid fa-plus"></i></button>
</div>
</main>

    <%- include("../partials/footer") %>
</body>
</html>