<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class="main-user-create">
    <form class="form-container" action="/admin/users/update<%= user.id %>?_method=PUT" method="POST">
    
        <h1>Editar Usuario</h1>

        <%- include("../partials/create-edit-user-inputs") %>  

        <button type="submit">Actualizar</button>
</main>


    <%- include("../partials/footer") %>
</body>
</html>