<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        
        <form action="/users/logout" method="POST">
            <button type="submit">Cerrar Sesi칩n</button>
        </form>
        <br>
        <section class="profile-avatar-container">
            <img src="/images/users/<%= userInfo.image?userInfo.image:"defaultUser.png" %>" alt="" class="profile-avatar-img">
        </section>
        <section>
            <p>Nombre: <%= userInfo.firstName %></p>
            <p>Apellido: <%= userInfo.lastName %></p>
            <p>Email: <%= userInfo.email %></p>
            <p>Cumplea침os: <%= userInfo.birthday?userInfo.birthday:"Sin especificar" %></p>
            <p>Direcci칩n: <%= userInfo.address?userInfo.address:"Sin especificar" %></p>
            <p>C칩digo Postal: <%= userInfo.postalCode?userInfo.postalCode:"Sin especificar" %></p>
            <p>Localidad: <%= userInfo.location?userInfo.location:"Sin especificar" %></p>
            <p>Provincia: <%= userInfo.province?userInfo.province:"Sin especificar" %></p>
        </section>
        



    </main>

    <%- include("../partials/footer") %>
</body>
</html>