<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>

    <main class="main-register">
        <form action="/users" method="POST">
      
        <button href="#"  class="submit" type="" >
            <img src="/public/images/logo-google.png" alt="">
            Ingresa con Google</button>
           
        <button href="#" class="submit" type="submit">Ingresa con Facebook</button>
      
      <h2>Informacion personal</h2>
        
        <p>Introduzca su datos para crear una cuenta</p>
        
        <div class="register">
            <br>            
            <h5>Nombre</h5>
            <input  type="text" name="firstName" placeholder="" value="<%= locals.old && locals.old.firstName %>">
            <span class="errors"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></span>
            <h5>Apellido</h5>
            <input  type="text" name="lastName" placeholder="" value="<%= locals.old && locals.old.lastName %>">
            <span class="errors"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></span>
            <h5>Email</h5>            
            <input  type="text" name="email" placeholder="usuario@email.com" value="<%= locals.old && locals.old.email %>">
            <span class="errors"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
            <!-- <h5>nombre de usuario</h5>
            <input  type="text" name="" placeholder="" >
            <h5>Fecha de nacimiento</h5>
            <input  type="date" name="birthday" placeholder="" >
            <h5>Domicilio de facturacion</h5>
            <input  type="text" name="" placeholder="" >
            <h5>Codigo postal</h5>
            <input  type="text" name="" placeholder="" >
            <h5>Localidad</h5>
            <input  type="text" name="" placeholder="">
            <h5>Provincia</h5>
            <input  type="text" name="" placeholder="">

           
            <fieldset class="select-shipping">
                <legend>Elija el metodo de envio</legend>
            
                <label for="metodo-envio"><h5>Retirar en el local</h5>
                    <input class="btn-envio" type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                 <label for="metodo-envio"><h5>Envio a domicilio</h5>
                    <input class="btn-envio"  type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                 <label for="metodo-envio"><h5>Retirar en punto de entrega</h5>
                    <input class="btn-envio" type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                </fieldset> -->

            <!-- <h5>Domicilio de entrega</h5>
            <input  type="text" name="" placeholder="">
            <h5>Codigo postal</h5>
            <input  type="text" name="" placeholder="">
            <h5>Localidad</h5>
            <input  type="text" name="" placeholder="">
            <h5>Provincia</h5>
            <input  type="text" name="" placeholder=""> -->
            <h5>Contraseña</h5>
            <input  type="password" name="password" placeholder="" >
            <span class="errors"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
            <h5>Confirmar contraseña</h5>
            <input  type="password" name="passwordRepeat" placeholder="" > 
            <span class="errors"><%= locals.errors && errors.passwordRepeat ? errors.passwordRepeat.msg : null %></span>          
                      
           <button class="submit" type="submit">Enviar</button>
        </div>

    </form>
    </main>
     

    <%- include("../partials/footer") %>
</body>
</html>